/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
    /* reusable classes */
    .container {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
    }
    
    img > .img-responsividade{
      display: none;
    }

    img > .icon-respondividade{
      display: none;
    }
   
    .section {
      padding: 10rem 0;
    }
  
    .section header,
    #testimonials header {
      max-width: 32rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .button {
      height: 3.125rem;
    }
  
    /* navigation */
    nav .menu {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
  
    nav .menu ul {
      display: flex;
      gap: 2rem;
    }
  
    nav .menu ul li a.title {
      font: 400 1rem var(--body-font);
      -webkit-font-smoothing: antialiased;
    }
  
    nav .menu ul li a.title.active {
      font-weight: bold;
      -webkit-font-smoothing: auto;
    }
  
    nav .icon-menu {
      display: none;
    }
  
    /* layout */
    main {
      margin-top: var(--header-height);
    }
  
    /* home */
    #home .container {
      grid-auto-flow: column;
      justify-content: space-between;
      margin: 0 auto;
    }
  
    #home .image {
      order: 1;
    }
  
    #home .text {
      order: 0;
      max-width: 24rem;
      text-align: left;
    }
  
    /* about */
    #about .container {
      margin: 0 auto;
      grid-auto-flow: column;
    }
  
    /* services */
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .card {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    /* testimonials */
    #testimonials .container {
      margin-left: auto;
      margin-right: auto;
    }
  
    /* contact */
    #contact .container {
      grid-auto-flow: column;
      align-items: center;
    }
  
    #contact .text {
      max-width: 25rem;
    }
  
    /* footer */
    footer.section {
      padding: 3.75rem 0;
    }
  
    footer .container {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
  
    footer .logo {
      font-size: 2.25rem;
    }
  }
  /* large devices: 1280 > */
  @media(max-width: 390px){
    /*HOME*/
    #home .img2 .iconbig {
      display: grid;
      grid-template-columns: 2fr;
    }

    .iconbig, .img2{
      display: none;
    }

    .img-responsividade{
      display: flex;
     
      height: 10rem;
      width: 10rem;
      margin-left: 8rem;
      margin-top: -3rem;
    }
    .icon-responsividade{
      display: flex;
      height: 10.3rem;
      width: 10.3rem;
      margin-left: 8.5rem;
      margin-top: -11.5rem;
    }
    .message{
      font-size:30px;

      width: 225px;
      font-weight: 700;

      margin-left: 5rem;
      margin-top: -2rem;
    }
    /*BOTÕES HOME */
   .btn{
     left: 3.75rem;
   }

   @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
   /*TITULO E DIVISÃO*/
   .title{
     font-size: 1.5rem;

   }
   
   .divider-1{
     margin-top: 9rem;
   }

   /*SOBRE NÓS*/

   .img-respo{
     width: 8rem;
     height: 8rem;

     margin-left: 9rem;

     margin-top: -4rem;
   }
   
    .title2 {
     margin-left: 7.5rem;
   }
    .p{
      text-align: justify;
    }
   .button2{
     margin-top: 3rem;
   }

   /*SERVIÇOS*/
  .title-service{
    margin-left: 7.5rem;
  }
  .section .subtitle{
    text-align: justify;
  }
 } 
  /* large devices: 992 > */
  @media (min-width: 992px) {
    :root {
      --title-font-size: 2.25rem;
      --subtitle-font-size: 1.125rem;
    }
  }