@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background: linear-gradient(60deg, rgb(235, 243, 247) 50%, rgb(227, 245, 245) 100%);

}
/*
.people{
  position: absolute;
  top: 18rem;
  right: 55rem;

}*/

.geral{
  display: flex;
  align-items: center;
  
  
}

.geral-2{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 40rem;
}

.card img {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}
 .card{
    position: relative;
    width: 600px;
    height: 350px;
    
    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    
}


.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 140px;
    overflow: hidden;

    flex-direction: column;

}

.card .circle::before{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #d83133;
    clip-path: circle(10px at center);

    transition: 0.5s;
}

.card .circle:hover::before{
    background: #0065c3;
    clip-path: circle(400px at center);

}

.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.card:hover img{
    left: 72%;
    height: 300px;
}

.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;

    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    margin-left: -7rem;

    margin-top: 2rem;

}

.card .content p{
    color: #fff;
    margin-left: -7rem;

    margin-top: 1rem;
}



/*mensagem*/

.menssagem {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    line-height: 40px;
    font-family: 'Muli';
    color: #000000;
    height: 160px;
    overflow: hidden;
  }
  .menssagem .li{
    color: #1579dd;
  }
  .visible1 {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
  
  .visible1:before {
    content: '[';
    left: 0;
    line-height: 40px;
  }
  .visible1:after {
    content: ']';
    position: absolute;
    right: 0;
    line-height: 40px;
  }
  .visible1:after, .visible1:before {
    position: absolute;
    top: 0;
    color: #070707;
    font-size: 42px;
    animation: 2s linear 0s normal none infinite opacity;
  }
  
  #p {
    display: inline;
    float: left;
    margin: 0;
  }
  
  .ul{
    margin-top: 0;
    margin-left: 12rem;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
  }
  
  .ul .li{
    line-height: 40px;
    margin: 0;
  }
  
  @keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  }
  @keyframes change {
  0%, 12%, 100% {
    transform: translateY(1%);
  }
  1%,29% {
    transform: translateY(-25%);
  }
  34%,46% {
    transform: translateY(-50%);
  }
  51%,63% {
    transform: translateY(-75%);
  }
  68%,80% {
    transform: translateY(-50%);
  }
  85%,97% {
    transform: translateY(-25%);
  }
  }
  /*Carrousel*/
  input[type=radio] {
    display: none;
  }
  
  .player {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
  }
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  
  }
  
  .upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
  }
  
  #item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-80px);
  }
  
  #item-4:checked ~ .player #test  {
    transform: translateY(-0px);
  }
  
  #item-5:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-6:checked ~ .player #test  {
    transform: translateY(-80px);
  }
  
  #item-7:checked ~ .player #test  {
    transform: translateY(-0px);
  }
  #item-8:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-9:checked ~ .player #test  {
    transform: translateY(-80px);
  }
  
  #item-1:checked ~ .cards, 
  #item-2:checked ~ .cards, 
  #item-3:checked ~ .cards,
  #item-4:checked ~ .cards,
  #item-5:checked ~ .cards,
  #item-6:checked ~ .cards,
  #item-7:checked ~ .cards,
  #item-8:checked ~ .cards,
  #item-9:checked ~ .cards {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards, 
  #item-2:checked ~ .cards, 
  #item-3:checked ~ .cards,
  #item-4:checked ~ .cards,
  #item-5:checked ~ .cards,
  #item-6:checked ~ .cards,
  #item-7:checked ~ .cards,
  #item-8:checked ~ .cards,
  #item-9:checked ~ .cards {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards, 
  #item-2:checked ~ .cards, 
  #item-3:checked ~ .cards,
  #item-4:checked ~ .cards,
  #item-5:checked ~ .cards,
  #item-6:checked ~ .cards,
  #item-7:checked ~ .cards,
  #item-8:checked ~ .cards,
  #item-9:checked ~ .cards  {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
  
  }


  /*Social media*/


  .icons8-instagram { 
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: 100%; }

.icons8-instagram:hover{
    color: #d83133;
}

@media (min-width:769px) and (max-width: 1710px){
  .card{
    width: 440px;
    height: 300px;
  }

  .card img{
    height: 150px;
  }

  .card:hover img{
    height: 260px;
  }
}
/*
@media (max-width:1300px){
  .card{
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card:hover{
    height: 600px;
  }

  .card .content{
    width: 100%;
    left: 0;
    padding: 40px;
  }
}