.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button2 {

    
    min-width: 200px;
    min-height: 40px;
    border-radius: 0.25rem;
    border: none;
    border-radius: 500px;
    margin-top: 25rem;
    padding: 10px;
    
    display: inline-flex;
    align-items: center;
    
    
    font: 500 1rem var(--body-font);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: center;
    justify-content: center ;
    
    color: var(--text-color-light);
    color: #ffffff;
    background-color: var(--base-color);
    background: linear-gradient(90deg, rgb(40, 105, 224)) 0%, (rgb(24, 192, 243) 100%);
    background-color: #12a7fdaf;
    box-shadow: 10px 10px 24px rgba(5, 145, 180, 0.979);
    
    transition: all 0.3s ease-in-out 0s;
    transition: background 0.3s;
    
    cursor: pointer;
    outline: none;
    position: relative;
 }
  

  .button3:hover, .button3:focus {
    color: #ffffff;
    transform: translateY(-6px);
    background-color: #009efaee;
  }
  
  .button3:hover::before, .button3:focus::before {
    opacity: 1;
  }
  
  .button3::after {
    content: '';
    width: 25px; height: 25px;
    border-radius: 100%;
    border: 4px solid #0066ff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .wrap:hover::after, .wrap:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  /* botão principal*/

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-flex;;
    border-radius: 5rem;
    transition: all .2s;
    position: absolute;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px var(--base-color);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px var(--base-color);
}

.btn-white {
    background-color: var(--base-color);
    color: rgb(7, 190, 223);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: rgb(7, 190, 223);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}